@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$font-family-base: Roboto;
$font-weight-base: 700;
$font-size-header: 48px;
$font-size-mini-headers: 21px;
$font-size-card-text: 14px;

$standart-color: rgba(255,227,211,1);